name: Code counter

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]
    workflow_dispatch:
    
permissions:
    contents: write

jobs:
    count:
        runs-on: ubuntu-latest
        name: 'Code counting @ ${{ github.ref_name }}'
        steps:
            - uses: actions/checkout@v4
            - name: Run CLOC
              uses: actions/setup-node@v4
              with:
                  node-version: 22
                  cache: 'npm'
            - name: Count
              run: |
                  npm ci
                  npm run cloc
